
body {
    background-image: url(/Recursos/Imagenes/nico_celular.jpg);
    background-size: cover;
    background-color: rgb(28, 26, 27);
    font-family: 'Oswald', sans-serif;
    height: 100vh ;

}

@media (min-width: 700px) {
    body {
        background-image: url(/Recursos/Imagenes/nico_recortado2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        font-size: smaller;
        height: 100vh;
    }
}

a {
    text-decoration :none
   
}
li {
    list-style: none;
}

a:hover,a:visited,a:link {
    color: rgb(255, 255, 255);
    
  }


.HEADER {  
    color: aliceblue;            
}

.Indices_header {
display: flex;
/*justify-content: space-evenly;*/
flex-direction: column;
justify-content: center;
align-items: center;
}
.Indices {
    margin-top: 5px;
    padding: 3px;

}

.AREA { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
    height: 500px;
    color: rgb(255, 255, 255);

}


.FOOTER { grid-area: FOOTER;
    color: aliceblue; 
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}

.barra-iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    color: aliceblue;
    margin: 10px 10px 10px ;
    width: 20px;
    height: 20px;
}








